<h1>New game</h1>


<% @letters.each do |letter| %>
<ul class="list-inline">
  <li><%= letter %></li>
</ul>
<% end %>

<p>What is the longest word you can find?</p>
<form action="/score" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="hidden" id="letters" name="letters" value="<%= @letters %>">
  <input type="text" name="word" id="word" placeholder="Type a word..." class="input">
  <input type="submit" value="Play" class="input btn-play">
</form>
